body {
    margin-top: 20px;
    color: gray;
    margin: 0 auto;
    width: 800px;
    font-size: 28px;
    box-sizing: border-box;
}

header {
    border: 3px solid red;
    width: 800px;
    height: 200px;
    text-align: center;
    padding-top: 70px;
    box-sizing: border-box;
}

#container {
    display: flex;
}

aside {
    border: 3px solid orange;
    width: 100px;
    height: 400px;
    text-align: center;
    padding-top: 150px;
    box-sizing: border-box;
}

main {
    border: 3px solid orange;
    width: 700px;
    height: 400px;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
}

footer {
    border: 3px solid gray;
    width: 800px;
    height: 200px;
    text-align: center;
    padding-top: 70px;
    box-sizing: border-box;
}
